apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
  labels:
    app: kafka-consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-consumer
  template:
    metadata:
      labels:
        app: kafka-consumer
    spec:
      containers:
        - name: kafka-consumer
          image: kafka-consumer:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_BROKERS
              value: "kafka.default.svc.cluster.local:9092"
            - name: KAFKA_TOPIC
              value: "test-topic"
            - name: KAFKA_GROUP_ID
              value: "sample-consumer-group"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
