apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
  labels:
    app: kafka-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
        - name: kafka-producer
          image: kpkls:latest
          imagePullPolicy: IfNotPresent
          args: ["--mode=producer"]
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_BROKERS
              value: "kafka.default.svc.cluster.local:9092"
            - name: KAFKA_TOPIC
              value: "test-topic"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-producer
  labels:
    app: kafka-producer
spec:
  type: ClusterIP
  selector:
    app: kafka-producer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
